body {
    font-size: 24px;
    color: white;
    background: #262627;
}

.white {
    background: white;
    border-radius: 10px;
    width: auto;
    height: 100px;
    position: fixed;
    right: 50px;
    left: 50%;
    bottom: 150px;
}

.red {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ac3636;
    border-radius: 60px;
    left: 10%;
    bottom: 50%;
}