:root {
    
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: #312C27;
    background-color: #FFF9F4;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}