body {
    background-color: #252525;
}

.inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad {
    transition-duration: 1s;
    display: flex;
    background-color: #474747;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.line {
    position: absolute;
    opacity: 0;
    background-color: #f0f8ff;
    transform: translate(-25%, -300%);
    height: 30px;
    width: 700px;

}

.quad:hover .line {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
    opacity: 1;
    background: #ffffff; 
}

.succes {
    transition-duration: 0.5s;
    padding-top: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
    width: 100%;
    opacity: 0;
}

.quad:hover .succes {
    opacity: 1;
    color: green;
    transition-delay: .5s;
}