body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 150%;
    font-size: 16px;
    background: #181E34;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header-inner {
    display: flex;
    align-items: center;
    margin: 30px 0 36px 0;
}

.header-nav {
    margin-left: auto;
}

.nav-menu {
    display: flex;
}

.nav-item {
    margin-right: 30px;
}

.nav-btn {
    background: #fff;
    border-radius: 100px;
    color: #2766AE;
    padding: 14px 30px;
    font-weight: 500;
}

/* ================================== */

.hero {
    padding: 120px 0;
    background: url("../img/bg.jpg") 10% 50% / cover no-repeat;
    height: 508px;
}

.main-title-1 {
    line-height: normal;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.hero-inner {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-paragraph-1 {
    height: auto;
    font-weight: 400;
    width: 436px;
    padding-bottom: 15px;
}

.hero-text span {
    color: #01A2CB;
    font-weight: 700;
    text-transform: uppercase;
}

.main-paragraph-2 {
    font-weight: 400;
    width: 436px;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    line-height: normal;
}

.hero-btn-1 {
    width: 320px;
    height: 56px;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    padding: 18px;
    margin-bottom: 10px;
}

.hero-btn-2 {
    width: 320px;
    height: 56px;
    border-radius: 100px;
    border-radius: 100px;
    background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
    padding: 18px;
}

/* ================================== */

.cards {
    padding: 120px 0;
}

.cards-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards-title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.cards-text {
    text-align: center;
    line-height: 150%;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    padding: 0 14px;
    margin-bottom: 28px;
    flex: 0 0 25%;
} 

.cars-flex-inner {
    padding: 28px 0;
    border-radius: 16px;
    border: 2px solid #176BAE;
    background: #197CB8;
    box-shadow: 4px 4px 13px 0px #050d29c2;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
    font-weight: 400;
    line-height: 150%;
}

.cards-btn-1 {
    display: block;
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    padding: 18px;
    margin-bottom: 10px;
}

/* ================================ */

.footer {
    border-top: 1px solid #323952;
    margin: 30px 0;
}

.footer-inner {
    display: flex;
    margin-top: 60px;
}

.footer-logo-p {
    max-width: 267px;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-column-1 {
    padding-left: 210px;
}

.footer-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-column-2 {
    padding-left: 130px;
}