body {
    font-family: "Montserrat";
    line-height: 150%;
    color: #25282B;
    background-color: #F8FCFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;
}

/* -----------хедер--------------- */

.header__inner {
    display: flex;
    align-items: center;
    margin: 42px 0 42px 0;
}

.nav {
    margin-right: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__social {
    margin-left: auto;
}

.nav__menu {
    display: flex;
}

.social__item {
    margin-right: 30px;
}

.nav__logo {
    position: relative;
    right: 35px;
}

/* ----------1 секция------------- */

.hero {
    color: #F8FCFF;
    height: 582px;
    text-align: center;

    position: relative;
}

.main__title {
    padding: 120px 0 30px 0;
    font-size: 52px;
    font-weight: 600;
}

.hero__list {
    display: block;
    font-size: 24px;
    font-weight: 400;
}

.hero__list-item {
    padding-right: 18px;
    padding-top: 15px;
}

.hero__list-item:last-child {
    padding-bottom: 0;
}

.hero__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #102e49cc ;
}

.hero__button {
    padding-top: 40px;
    align-items: center;
}

.button {
    text-align: center;
    display: block;
    justify-content: center;

    margin: 0 auto;
    width: 288px;
    padding: 18px 30px;

    border-radius: 100px;
    color: #1D6FB6;
    background: #D0DCE7;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.button:hover {
    background: #83ADD3;
    color: #F8FCFF;
    transition: all .5s;
}

/* ------------2 секция--------------- */

.shop {
    padding-top: 120px;
}

.shop__wrapper {
    display: flex;
    gap: 126px;
}

.sidebar {
    border: 2px solid #D0DCE7;
    flex-shrink: 0;
    flex-basis: 282px;
    padding: 30px;
}

.shop__sidebar {
    height: 1170px;
    background: #F8FCFF;
}

.shop__list {
    color: #25282B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.shop__list-item {
    padding-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    grid-auto-flow: dense;
    font-weight: 500;
    line-height: normal;
    color: #F8FCFF;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery__img img{
    width: 100%;
}

.gallery__img--large-left {
    grid-column: 1 / 3;
    grid-row: span 2;
}


.gallery__img--large-right{
    grid-column: -1 / -3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;

}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: normal;
}



/* ================================= */

.buy__wrapper {
    flex-basis: 282px;
    padding: 30px;
}

.gallery__purchace {
}

.gallery__picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.buy__img {

}

.buy__button {
    display: block;
}