body {
    font-family: "Montserrat";
    line-height: 150%;
    color: #25282B;
    background-color: #F8FCFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;
}

/* -------------------------- */

.header__inner {
    display: flex;
    align-items: center;
    margin: 42px 0 42px 0;
}

.nav {
    margin-right: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__social {
    margin-left: auto;
}

.nav__menu{
    display: flex;
}

.social__item {
    margin-right: 30px;
}

.nav__logo {
    position: relative;
    right: 35px;
}

/* ----------------------- */

.hero {
    color: #F8FCFF;
    background-color: #3b3b3b;
    height: 582px;
    text-align: center;
}

.main__title {
    padding: 120px 0 30px 0;
    font-size: 52px;
    font-weight: 600;
}

.hero__list {
    font-size: 24px;
    font-weight: 400;
}

.hero__list-item {
    padding-top: 15px;
}

/* .hero__list-item::after {
    content: '';
    position: absolute;
    left: 100px;
    top:150px;
    background-image: no-repeat url(/img/thumb-up.svg);
    
} */

/* .hero__button {
    width: 100px;
} */

.button-1 {
    /* text-align: center;
    display: block;
    margin: 0 auto; */
    width: 288px;
    padding: 18px 30px;
    justify-content: center;
    border-radius: 100px;
    background: #D0DCE7;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}